.row
  %p Howdy, pardner, please gimme an' ID
  %div
    %form(id="go_form")
      %input(name="id")
      %input(type="submit" value="Go!")

  %img(src="/images/l.gif" id="loader")
  %div(id="content")
