%h1 Blip-threads alpha 0.1
%p Znasz to, wchodzisz na swoj kokpit, widzisz ze ktos blipnal odpowiedz na czyjes inne blipniecie cytujac tamto blipniecie, ktore takze zawiera odpowiedz na poprzednie blipniecie... Daj spokoj...
%h2 There's an app for that!
%p Podaj id ostatniego blipniecia, ktore cos cytuje.
%div
  %form(id="go_form")
    %input(name="id" value="38550202")
    %input(type="submit" value="Go!")

%img(src="/images/l.gif" id="loader")
%div(id="content")
