.row
  %p 
    Wątek: 
    %a{ :href => "/#{@id}"}= @id
%div
  - @collection.reverse.each_with_index do |blip, index|
    = render :partial => "blip", :locals => { :i => index, :blip => blip}
  %p
    %a.permalink{:href =>"/#{@id}" } Linkuj
