.row
  %p 
    Wątek: 
    %a{ :href => "/threads/#{@id}"}= @id
%div
  - i=0
  - @collection.reverse.each do |blip|
    = render :partial => "blip", :locals => { :i => i, :blip => blip}
    -i=i+1
  %p
    %a.permalink{:href =>"/threads/#{@id}" } Linkuj
