%a{ :href =>"javascript:window.location = 'http://blip-thread.heroku.com/'+window.location.href.split('/')[window.location.href.split('/').length-1]"}
  Zobacz na Blip-Thread
(przeciagnij na pasek z ulubionymi)(używaj na stronie z blipnięciem)
