!!! strict
%html
  %head
    %title
      BlipThread
      = @id || ""
    %script{:src => "/javascripts/prototype.js", :type => "text/javascript"}
    %script{:src =>"/javascripts/index.js",  :type => "text/javascript"}
    %link(href="/stylesheets/main.css" rel="stylesheet" type="text/css")
  %body
    #wrapper
      =yield

    #footer
      %p
        Code i takie tam:
        %a{:href => "http://lukaszkorecki.blip.pl"}^lukaszkorecki
        %a{:href => "http://coffeesounds.com"} http://coffeesounds.com
        Hosting:
        %a(href="http://heroku.com") Heroku

